* {
    font-family: 'Commissioner', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}


.overlay {
    display: none;
}

.overlay_active {
    display: block;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
}


@import 'block/header';
@import 'block/about';


@import 'media/media';