* {
    font-family: 'Commissioner', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.overlay {
    visibility: hidden;
    transition: visibility 0.5s, background 0.5s ease-in-out;
}

.overlay_active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;    
    z-index: 5;
    visibility: visible;
    transition: visible 0.5, background 0.5s ease-in;
    background: rgba(0, 0, 0, 0.7);
}

.overlayModal {
    display: none;
}

.overlayModal_active {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
}


@import 'base/mixins';
@import 'block/header';
@import 'block/about';
@import 'block/form';
@import 'block/titul';
@import 'block/directions';
@import 'block/catalog';
@import 'block/diplom';
@import 'block/review';


@import 'media/media';