.about {

    .wrapper {
        padding-top: 127px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        // grid-template-columns: repeat(2, minmax(300px, 550px));
        align-items: center;
        justify-content: end;
        column-gap: 137px;
        .text {
            padding: 20px;
            width: 440px;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            position: relative;

            &::after {
                content: url('../img/texttop.png');
                position: absolute;
                top: -68px;
                left: -86px;
                z-index: -1;
            }
        }
    }

    .wrapper2 {
        margin-top: 115px;
        padding-left: 15px;
        padding-right: 15px;

        display: flex;
        // grid-template-columns: repeat(2, minmax(300px, 550px));
        justify-content: start;
        align-items: center;
        column-gap: 105px;

        .text2 {
            padding: 20px;
            width: 440px;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            position: relative;

            &::after {
                content: url('../img/textbottom.png');
                position: absolute;
                top: -15px;
                left: 43px;
                z-index: -1;
            }
        }
    }
}