header {
        position: sticky;
        z-index: 11;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            display: flex;
            justify-content: space-between;
            gap: 40px;

            li {
                list-style-type: none;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
                cursor: pointer;
            }
        }

        .phone {
            &__block {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
            }

            .humburger {
                top: 20px;
                right: 30px;
                display: none;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                
                span {
                    margin-bottom: 5px;
                    display: block;
                    width: 30px;
                    height: 3px;
                    background: rgb(0, 0, 0);
                    transition: 0.4s all ;
                }
                &-active {
                    span {
                      margin-bottom: -2px;
          
                      &:nth-child(1) {
                        transform: rotate(-45deg);
                      }
          
                      &:nth-child(2) {
                        display: none;
                      }
          
                      &:nth-child(3) {
                        transform: rotate(45deg);
                      }
                    }
                  }
            }

            .number {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
            }
        }
    }

    
}


.mobile__menu {
    padding: 0 20px ;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    height: 0;
    z-index: 11;
    transition: all .5s;
    border-radius: 0px 0px 12px 12px;

    &_links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 24px;

        li {
            list-style-type: none;

            a {
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                color: #464646;
            }
        }
    }


}