@media (max-width: 863px) {
    header {
        position: sticky;
        top: 0;
        nav {
            background-color: #fbfbfb;
            ul {
                display: none;
            }

            .phone {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .humburger {
                    display: flex;
                }
            }
        }
    }
}




@media (max-width: 375px) {
    header {
        .wrapper {
            .title {
                font-size: 21px;

            }
        }
        nav {
            .phone {
                &__block {
                    .icons {
                        width: 30px;
                    }
                    .number {
                        display: none;
                    }
                }
            }
        }
    }
}